# MakeCode / PXT dependencies
node_modules/
yotta_modules/
yotta_targets/
pxt_modules/

# Compiled output
built/
_built/
*.lss
*.hex

# Local environment & Editor configs
.pxt/
.DS_Store
Thumbs.db
*.pyc

# Search indexes and logs
pxt_modules/
pxt_obj/
*.log

# Personal/Editor Settings
.vscode/
.idea/
